// input, textarea {
//   padding: 10px 16px;
//   border-radius: 3px;
//   border: 2px solid $primary-color-light;
//   &:focus {
//     border-color: $primary-color;
//   }
// }

.form-group {
  margin-bottom: 2rem;
  label {
    font-weight: bold;
    color : $primary-color;
  }
}


.form-control {
  height: 48px;
  padding: 1rem;
  font-weight: inherit;
  &:focus {
    box-shadow: 0 0 0 .2rem rgba(10, 93, 253, 0.64);
  }
  &::placeholder {
    color: $gray;
  }
}

.form-group {
  margin-bottom: 3rem;
}
textarea {
  min-height: 200px;
}
.form-text {
  font-weight: bold;
}



.inputFile {
  margin-top: 1rem;
}

.input-file {
  input[type="file"] {
      visibility: hidden;
      width: 1px;
      height: 1px;
    }
    
    .btn {
      cursor: pointer;
      background-color: #ddd;
      border-color: #ccc;
      color: #333;
      padding: 20px 30px;
  }
  
  .file-selected {
      text-align: center;
      width: 100%;
      display: block;
      margin-top: 5px;
  }
}