@mixin logo() {
  height  : $logo-size;
  width   : $logo-size;
}

header {
  @extend %box-shadow-sm;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  .header-inner {
    background: $light;
    padding: 1rem 2rem;
  }
  #logo {
    width: 300px;
    .app-name {
      @extend %flex-align-center;
      position: relative;
      .img {
        margin-right: 1rem;
        img {
          @include logo;
        }
      }
      .title {
        h1 {
          font-size: 22px;
          font-weight: bold;
          margin: 0;
        }
      }
      .menu {
        position: absolute;
        right: 0;
      }
    }
  }
}


.toggleLeft {
  padding: 10px 10px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.toggleLeft-box {
  width: 24px;
  height: 17px;
  display: inline-block;
  position: relative;
}
.toggleLeft-inner, .toggleLeft-inner::before, .toggleLeft-inner::after {
  width: 24px;
  height: 2px;
  background-color: $main-color;
  border-radius: 2px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.toggleLeft--spring .toggleLeft-inner::before {
  top: 7px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.toggleLeft--spring .toggleLeft-inner::after {
  top: 14px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.toggleLeft-inner::before {
  top: -8px;
}
.toggleLeft-inner::after {
  bottom: -8px;
}
.toggleLeft-inner::before, .toggleLeft-inner::after {
  content: "";
  display: block;
}
.toggleLeft--spring.active .toggleLeft-inner {
  transition-delay: 0.22s;
  background-color: transparent !important;
}
.toggleLeft--spring.active .toggleLeft-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.toggleLeft--spring.active .toggleLeft-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}