* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $base-font;
  font-size: 16px;
  font-weight: 500;
  background: $main-background;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  color: $primary-color;
}


main {
  @extend %animation;
  &[push-main=true] {
    padding-left: $aside-width;
  }
  padding-left: 0;
  padding-top: 64px;
  .content {
    padding: 1.2rem;
  }
}

.material-icons {
  vertical-align: middle;
}

.box {
  border-radius : $border-radius;
  padding: 1rem;
}

.box {
  padding: 5.5rem 8rem;
  background-color: $light;
  @extend %box-shadow-sm;
  &.import {
    padding: 3rem 7rem;
  }
}

.main-heading {
  margin-bottom: 1.2rem;
  h1 {
    i {
      vertical-align: middle;
      font-size: 40px;
    }
  }
}

#response {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  display:none;
}

.success {
  background: #c7efd9;
  border: #bbe2cd 1px solid;
}

.error {
  background: #fbcfcf;
  border: #f3c6c7 1px solid;
}

div#response.display-block {
  display: block;
}

#frmCSVImport {
  width: 100%;
}

// Modal Spinner
.modal-spinner {
  .modal-body {
    padding: 0;
  }
}