* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $base-font;
  font-size: 16px;
  background: $main-background;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: $primary-color;
}
main {
  padding-left: $aside-width;
  padding-top: 70px;
  .content {
    padding: 100px;
  }
}

.material-icons {
  vertical-align: middle;
}

.box {
  border-radius : $border-radius;
  padding: 1rem;
}

#spinnerygoz {
  padding: 0 4rem;
  textarea {
    min-height: 200px;
  }
  .form-text {
    font-weight: bold;
  }
}